:root {
  --color1: black;
  --color2: rgb(9, 188, 201);
}
body {
  width: 100rem;
  height: 100rem;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(90deg, var(--color1), var(--color2)), no-repeat;
}
.navbar {
  position: fixed;
  top: 0;
  background-color: transparent;

  display: flex;
  width: 99%;
}
.logo a {
  text-decoration: none;
  color: white;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 2.8rem;
  padding-right: 80rem;
}
.navbar h1 {
  padding-left: 3rem;
  display: flex;
  justify-content: space-around;
}
.navright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navright a {
  padding: 2.5rem;
  text-decoration: none;
  color: white;
}
.carinfo1 {
  background: no-repeat;
  height: 80rem;
  width: 95rem;
  border-top: 25rem;
  margin-top: 8rem;
  display: flex;
}
.backimg {
  background: no-repeat;
  height: 60rem;
  width: 95rem;
  background-image: url(https://backiee.com/static/wallpapers/1000x563/198664.jpg);
  background-size: 95rem 60rem;
  transition: all ease 0.5s;
}
.backimg:hover {
  box-shadow: 0 0 2rem rgb(0, 240, 248);
}
.car-info {
  width: 98rem;
  height: 40%;
  text-align: left;
  color: rgb(255, 255, 255);
  transition: all ease 0.5s;
  display: none;
  transition: all ease 1s;
}
.backimg:hover .car-info{
  display: block;

}
.description {
 
  width: 20%;
  margin-left: 70rem;
  margin-top: -2rem;
  font-size: 8rem;
  transition: all ease 0.7s;
}

.car {
 margin-left: 45rem;
  text-decoration: underline;
  font-family: "Cedarville Cursive", cursive;
  font-size: 2.8rem;
}
.car,
.description {
  display: flex;
  justify-content: center;
  align-items: center;
}
